*{outline:none;}
body{font-family: "Helvetica Neue", Arial; font-size:14px;}

.navArea {
    width:200px;
}

.noUi-horizontal {
    height: 18px;
}

.noUi-horizontal.noUi-extended {
    padding-right: 20px;
}

.noUi-horizontal.noUi-extended .noUi-handle {
    left: -1px;
}

.noUi-horizontal.noUi-extended .noUi-origin  {
    right: -20px;
}

.noUi-horizontal .noUi-handle{
    width: 24px;
    height: 24px;
    left: -12px;
    top: -4px;
}

.noUi-background {
    background: #FAFAFA;
    box-shadow: inset 0 1px 1px #f0f0f0;
}

.noUi-connect {
    box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
    -webkit-transition: background 450ms;
    transition: background 450ms;
    background-color: #61a2ff;
}

.noUi-origin {
    border-radius: 2px;
}

.noUi-target {
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-target.noUi-connect {
    box-shadow: inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB;
}

.noUi-draggable {
    cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: n-resize;
}

.noUi-handle {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #FFF;
    cursor: default;
    box-shadow: inset 0 0 1px #FFF,
    inset 0 1px 7px #EBEBEB,
    0 3px 6px -3px #BBB;
}

.noUi-active {
    box-shadow: inset 0 0 1px #FFF,
    inset 0 1px 7px #DDD,
    0 3px 6px -3px #BBB;
}

.noUi-handle:before,
.noUi-handle:after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    left: 9px;
    top: 4px;
}

.noUi-handle:after {
    left: 12px;
}

[disabled].noUi-connect,
[disabled] .noUi-connect {
    background: #B8B8B8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
    cursor: not-allowed;
}

.rangeFilter{
    text-align:center;
    border-bottom:1px solid #a8dbff;
}

.rangeSliderItems{
    display:none;
    padding-bottom:20px;
    min-height:60px;
    width:100%;
}

.rangeSliderItems.open{
    display:inline-block;
}

.rangeFilterBoxes{
    margin-top:12px;
}

.rangeFilterBoxes input {
    width:60px;
    text-align:right;
    padding:5px;
    border-radius:5px;
    border:1px solid #DDDDDD;
    font-size:14px;
}

.rangeFilterBoxes .low {
    float:left;
}

.rangeFilterBoxes .high{
    float:right;
}

.rangeFilterBoxes span{
    padding:7px;
    display:inline-block;
    font-size:16px;
}

.tickBoxFilter {
    border-bottom:1px solid #a8dbff;
}

.tickBoxItems {
    overflow-x:auto;
    max-height:108px;
    padding-bottom:20px;
    display:none;
    width:100%;
}

.tickBoxItems.open{
    display:inline-block;
}

.tickBoxItems div{
    padding:4px 0 4px 0;
}

.tickBoxItems div label{
    padding:0 0 0 4px;
}

.tickBoxItems div .disabled {
    color:#B8B8B8;
}

.tickBoxItems div label span{
    padding:0 0 0 4px;
    color:#B8B8B8;
    font-size:12px;
}

.ratingFilter {
    border-bottom:1px solid #a8dbff;

}

.ratingItems{
    display:none;
    padding-bottom:20px;
    width:100%;
}

.ratingItems.open{
    display:inline-block;
}

.ratingItems div{
    padding:1px 0 1px 0;
}

.ratingItems div label{
    padding:0 0 0 4px;
}

.ratingItems div .disabled {
    color:#B8B8B8;
}

.ratingItems div div {
    display:inline;
    vertical-align:15%;
    padding-left:4px;
}

.ratingItems div label div span{
    padding:0 0 0 4px;
    color:#B8B8B8;
    font-size:12px;
    vertical-align:5%;
}

.ratingItems input[type=checkbox], .ratingItems span{
    display:inline-block;
    height:16px;
}

.ratingItems span.star{
    display:inline-block;
    height:16px;
    width:16px;
    background-size:16px;
    background-repeat:no-repeat;
    background-image:url("/images/star.png");
}

.ratingItems span.star-half{
    display:inline-block;
    height:16px;
    width:16px;
    background-size:16px;
    background-repeat:no-repeat;
    background-image:url("/images/star-half.png");
}

.ratingItems span.star-empty{
    display:inline-block;
    height:16px;
    width:16px;
    background-size:16px;
    background-repeat:no-repeat;
    background-image:url("/images/star-empty.png");
}

.rangeFilter h3, .tickBoxFilter h3, .ratingFilter h3{
    margin:0;
    padding:8px 0 8px 0;
    font-size:20px;
    font-weight:300;
    color: #1c72ff;
    text-align:left;
}

.filterOpenerIcon.open{
    float:right;
    margin-top:8px;
    margin-right:2px;
    width:24px;
    height:24px;
    background-image: url("/images/filter-open.png");
    background-size: 24px;
}

.filterOpenerIcon.close{
    float:right;
    margin-top:8px;
    margin-right:2px;
    width:24px;
    height:24px;
    background-image: url("/images/filter-close.png");
    background-size: 24px;
}

.hidden{
    display:none;
}